<% provide(:title, @user.name) %>
<h2>ユーザー個別ページ</h2>

<div id="post-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="introduction">
      <%= @user.self_introduction %>
    </section>
    <% if current_user?(@user) %>
      <%= link_to "プロフィール編集", edit_user_registration_path %>
    <% end %>
  </aside>
  <div class="col-md-7">
    <%= render 'follow_form' if user_signed_in? %>
    <% if @user.posts.any? %>
      <h3>投稿数 (<%= @user.posts.count %>)</h3>
      <% @posts.each_slice(3) do |post1,post2,post3| %>
        <div class = "inline">
          <div class = "col-md-4">
            <% if post1 %>
              <%= link_to image_tag(post1.picture.url, size: '240x240'), post_path(post1), remote: true %>
            <% end %>
          </div>
          <div class = "col-md-4">
            <% if post2 %>
              <%= link_to image_tag(post2.picture.url, size: '240x240'), post_path(post2), remote: true %>
            <% end %>
          </div>
          <div class = "col-md-4">
            <% if post3 %>
              <%= link_to image_tag(post3.picture.url, size: '240x240'), post_path(post3), remote: true %>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>