<li id="post-<%= post.id %>">
  <div class="row">
    <div>
      <%= link_to post.user do %>
        <%= gravatar_for(post.user, size: 50) %>
        <%= post.user.name %>
      <% end %>
      posted <%= time_ago_in_words(post.created_at) %> ago.
      <% if current_user?(post.user) %>
        <%= link_to "削除", post, method: :delete, class: "picture_delete1", data: { confirm: "You sure?" } %>
      <% end %>
    </div>
    <div class="content">
      <% if post.picture? %>
        <%= link_to image_tag(post.picture.url), post_path(post), remote: true %>
      <% end %>
    </div>
    <div class="post_actionbar row">
      <div class="col-md-2">
        <%= render "likes/like", post: post %>
      </div>

    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
      <%= form_for(@comment, url:post_comments_path(post)) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="col-md-8">
          <%= f.text_field :content, class: 'form-control' %>
        </div>
        <div class="col-md-2">
          <%= f.submit "コメント", class: "btn btn-sm btn-primary" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</li>
